@model IEnumerable<ASPMVCDemo.Models.Employees>

@using ASPMVCDemo.Models;

@{
    ViewBag.Title = "Employee List";
}
<div style="font-family:Arial;">
    <h2>Employee List</h2>
    <ul>
        @foreach (Employees employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.FirstName, "EmployeeDetails", new { id = employee.ID })
            </li>
        }
    </ul>
    @Html.ActionLink("Back to Departments List", "Index","Department")
</div>


